h1 {
    text-align: center;
    /* font-size: 130px; */
    font-family:'Noto Sans Display'
}

.Main_pic {
    display: flex;
    margin-left: 250px;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    width: 70%;
    object-fit: cover;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.prev_img {
    display: flex;
    width: 200px;
    margin: 10px;
    transition: transform 0.3s;
}

.prev_img:hover {
    transform: scale(1.15);
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    flex-shrink: 2;
}

.menu > p:hover {
    transform: scale(1.1);
}

.menu > div {
    /* background-color: gray; */
    color: DodgerBlue;
}

@media screen and (max-width: 1300px) {
    div.menu {
      display: none;
    }
  }