h1 {
    margin-left: 250px;
    text-align: center;
    /* font-size: 130px; */
    font-family:'Noto Sans Display'
}

.Main_pic {
    display: flex;
    margin-left: 250px;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}

.Main_pic > div {
    width: 70%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Flex-container {
    margin-left: 250px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* margin: 10px; */
}

.prev_img {
    display: flex;
    width: 200px;
    margin: 10px;
    transition: transform 0.3s;
}

.prev_img:hover {
    transform: scale(1.15);
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    flex-shrink: 2;
}

.menu > p:hover {
    transform: scale(1.1);
}

.menu > div {
    /* background-color: gray; */
    color: DodgerBlue;
}

@media screen and (max-width: 1500px) {
    div.menu {
      display: none;
    }
    div.Flex-container{
        margin-left: auto;
    }
    div.Main_pic{
        margin-left: auto;
    }
    h1{
        margin-left: auto;
    }
  }

  @media screen and (max-width: 800px){
    div.Main_pic > div{
        width: auto;
    }
  }

  h2 {
    font-family:'Noto Sans Display'
  }

  p {
    font-family:'Noto Sans Display'
  }